body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #d7aafc;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(11, 0, 26, 0.1);
}

#cat-image {
    max-width: 500px; 
    max-height: 500px;
    border-radius: 8px;
    display: block;
    margin: 20px auto; 
}

.error {
    color: #d9534f;
    font-weight: bold;
}